<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wuyan.bookmanage.mapper.StudentMapper">

    <resultMap id="BaseResultMap" type="com.wuyan.bookmanage.empty.Student">
            <id property="sid" column="sid" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="sex" column="sex" jdbcType="OTHER"/>
            <result property="age" column="age" jdbcType="INTEGER"/>
            <result property="speciality" column="speciality" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        sid,name,sex,
        age,speciality
    </sql>
</mapper>
